@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
.container {
  min-height: 100vh;
  height: 100vh;
}
.main{
  width: 80%;
  border-radius: 1.1rem;
  margin: 0 10%;
  margin-top: 0rem;
  height: 20%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.header{
  margin: 0;
  background-color: transparent !important;
  text-align: center;
  font-family: 'Rajdhani';
  font-size: 48px;
  color: #222222;
}
.sidemain{
  min-width: 20%;
  max-width: 80%;
  margin: 4rem auto;
}
.blog{
  margin-left: 2rem;
  font-size: 4.2rem;
  margin-top: 2rem;
  font-family: 'Rajdhani';
  font-weight: bold;
}
.cardholder{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 1rem 10%;
  gap: 2rem;
  height: max-content;
}

@media(max-width:1250px) {
  .cardholder{
    grid-template-columns: 1fr;
    width: 60%;
    margin: 0 20%;
  }
  .blog{
    text-align: center;
  }
}
@media(max-width:900px) {
  .cardholder{
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 10%;
  }
  .gh-container{

  }
}
@media(max-width:770px) {
  .sidemain{
    width:90%;
    margin: 1rem 5%;
  }
}